<h1> ITEMS LIST </h1>
<div id="ITEMS">
<app-items [img]="img1" title="Biryani"></app-items>
<app-items [img]="img2" title="Shawarma"></app-items>
<app-items [img]="img3" title="Dosa"></app-items>
<app-items [img]="img4" title="Pizza"></app-items>
<app-items [img]="img5" title="Burger"></app-items>
<app-items [img]="img6" title="North Indian meals"></app-items>
<app-items [img]="img7" title="South indian thali"></app-items>
<app-items [img]="img8" title="Ice-cream"></app-items>
<app-items [img]="img9" title="Rolls"></app-items>
<app-items [img]="img10" title="KFC"></app-items>
</div>
